{% extends 'base.html.twig' %}

{% block title %}Edit Faculte {% endblock %}

{% block body %}
<h1>Edit Faculte: {{ faculte.nom }}</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save</button>
{{ form_end(form) }}

<a href="{{ path('faculte_show', {id: faculte.id}) }}">Back to details</a>
{% endblock %}
